#graph, #res_graph {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    color: white;
}

.jj {
    display: inline;
    float: left;
}

#res_graph {
    margin-left: 20px;
}

body {
    color: white;
    background-color: black;
}